.container {
	width: 50%;
	min-height: 100vh;
	background: #3f72af;
	padding-top: 56px;
	display: flex;
	justify-content: center;
}

.card {
	width: 50%;
	min-height: 450px;
	flex-shrink: 0;
	border-radius: 20px;
	background: #f9f7f7;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
	padding: 20px 55px 85px 55px;
}

.card-header {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10ppx;
}

.card-input {
	width: 250px;
	height: 32px;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	border: 1px solid rgba(177, 177, 177, 0.4);
	background: #dbe2ef;
}

.card-input input {
	display: flex;
	flex: 1;
	background: #dbe2ef;
	border: none;
}
.card-input button {
	width: 45px;
	height: 32px;
	display: flex;
	border-radius: 0px 5px 5px 0px;
	background: #aaa;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
h1 {
	font-family: Ubuntu;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #112d4e;
}

.divide {
	width: 100%;
	height: 1px;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 15px;
	margin-bottom: 14px;
}
.list {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-top: 30px;
}
.item {
	border-radius: 5px;
	background: #dbe2ef;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 20px;
}

.item p {
	color: #000;
	font-family: Ubuntu;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	flex: 1;
}

.item .button-1 {
	width: 24px;
	height: 24px;
	border: 1px #7d7c7c solid;
	border-radius: 6px;
}

.item .button-2 {
	border: 1px #7d7c7c solid;
	border-radius: 6px;
}
